<h1>Edit Profile</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :username, class: 'big_input fat_sides' %>
  <input type="password" name="current_password" id="user_current_password">
  <%= f.password_field :password, class: 'big_input fat_sides' %>
  <input type="password" name="password_confirmation"
    id="user_password_confirmation">
  <%= f.submit 'UPDATE', id: 'submit', class: 'form_submit big_input' %>
<% end %>
