<h1>Add Certificate</h1>

<%= render partial: 'form',
             locals: {
             certificate: @certificate,
             load_balancers: @load_balancers,
             ciphers: @ciphers
           } %>
