/*ALL*/
:root {
  --purple: #6400aa;
}

@font-face {
  font-family: 'BT Font Regular';
  src: url('BTFont-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BT Font Light';
  src: url('BTFont-Light.woff') format('woff');
}

@font-face {
  font-family: 'BT Font Bold';
  src: url('BTFont-Bold.woff') format('woff');
}

body {
  max-width: 800px;
  margin: 60px auto;
  font-family: 'BT Font Regular';
}

.flex {
  display: flex;
  justify-content: center;
}

h1 {
  font: 2.5em/1.2 'BT Font Bold';
  text-align: center;
}

.center {
  text-align: center;
}
/* END */

/* HEADER */
header {
  background-color: var(--purple);
  border-radius: 25px;
}

header a {
  color: white;
  padding: 0.75rem;
  text-shadow: 1px 1px 1px black;
}

header a:link, a:visited {
  text-decoration: none;
}

div.logo {
  padding: 1rem 0;
}

.logo img {
  display: block;
  margin: 0 auto;
}
/* END */

/* FORMS */
div.select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: 1px dashed gray;
}

select {
  background: transparent;
  width: 18%;
  font-family: 'BT Font Regular';
  height: 34px;
  border: 2px solid black;
}

ul.checkboxes {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

input[type=checkbox] {
  border: 2px solid black;
}

div.ciphers {
  border: 1px dashed gray;
  width: 300px;
  margin: 0 auto 10px auto;
  padding: 10px;
}

.big_input {
  padding: 10px;
  margin: 0 auto 10px auto;
  width: 300px;
  text-align: center;
  font-size: 1rem;
  display: block;
}

.form_submit {
  background: var(--purple);
  color: white;
  font-size: 1.125rem;
}

.fat_sides {
  border: 2px solid black;
}

.fat_sides.errors {
  border: 2px solid red;
}
/* END */

/* SEARCH AND ADD BAR */
div.search {
  display: flex;
  justify-content: center;
}

.search input {
  display: inline-block;
  width: 200px;
}

button.features {
  background: var(--purple);
  padding: 5px;
  height: 80%;
  color: white;
  display: inline-block;
  border-radius: 16px;
}

button a:link, a:visited {
  color: white;
}
/* END */

/* TABLES */
table {
  width: 100%;
  border-radius: 6px;
  border-collapse: separate;
}

thead {
  background-color: var(--purple);
  color: white;
  text-shadow: 1px 1px 1px black;
}

tbody td {
  text-align: center;
  background-color: rgba(221, 221, 221, 0.5);
}

table p {
  line-height: 0.2em;
}

thead th:first-child {
  border-radius: 16px 0 0 0;
}

thead th:last-child {
  border-radius: 0 16px 0 0;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 16px;
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 16px 0;
}
/* END */

/* ICONS */
a:link i, a:visited i {
  color: black;
  text-decoration: none;
}

button.invisible {
  display: initial;
  background: none;
  padding: 0px;
  border: none;
}

td form {
  display: inline;
}
/* END */

/* OAUTH */
a.oauth {
  color: black;
}
/* END */

.flash {
  text-align: center;
}

a:link.add i, a:visited.add i {
  color: white;
}
