:root {
  --purple: #6400aa;
}

@font-face {
  font-family: 'BT Font Regular';
  src: url('BTFont-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BT Font Light';
  src: url('BTFont-Light.woff') format('woff');
}

@font-face {
  font-family: 'BT Font Bold';
  src: url('BTFont-Bold.woff') format('woff');
}

body {
  max-width: 800px;
  margin: 60px auto;
  font-family: 'BT Font Regular';
}

.flex {
  display: flex;
  justify-content: center;
}

header {
  background-color: var(--purple);
}

header a {
  color: white;
}

header .left-vert {
  border-left: 1px solid white;
}
