<h1>Load Balancers</h1>

<button class="features">
  <a href="/load_balancers/new" id="new-load-balancer" class="add">
    <i class="fas fa-plus fa-3x"></i>
  </a>
</button>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>IP Address</th>
      <th>Certificates</th>
    </tr>
  </thead>
  <tbody>
    <% @load_balancers.each do |load_balancer| %><tr>
      <td>
        <%= load_balancer.hostname %>
        <%= link_to edit_load_balancer_url(load_balancer),
          id: "edit-#{load_balancer.id}" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </td>
      <td><%= load_balancer.ip_address %></td>
      <td><% load_balancer.certificates.each do |cert| %>
        <p><%= cert.url %></p>
      <% end %></td>
    </tr><% end %>
  </tbody>
</table>
